<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <hr>
  <div class="mx-auto" style="max-width: 300px;">
    <mds-angular-persian-datetimepicker [(ngModel)]="dateTime" [rangeSelector]="false" [isPersian]="true" templateType="2" [inLine]="false"
      [placeHolder]="'persian'">
    </mds-angular-persian-datetimepicker>
  </div>
  <div class="mx-auto" style="max-width: 300px;">
    <mds-angular-persian-datetimepicker [(ngModel)]="dateTime" [rangeSelector]="true" [isPersian]="false" templateType="2" [inLine]="false"
      [placeHolder]="'!persian'">
    </mds-angular-persian-datetimepicker>
  </div>
  <div class="mx-auto" class="text-left" style="direction: ltr;">
    <pre>{{dateTime | json}}</pre>
  </div>
</div>